html {
  font-family: 'Roboto', sans-serif;
}
.flex {
  display: flex;
}
.vcenter{
  align-items: center;
}
.hcenter{
  justify-content: center;
}
.space_around{
  justify-content: space-around;
}
.space_between {
  justify-content: space-between;
}
.flex_end{
  align-items: flex-end;
}
.flex_wrap{
  flex-wrap: wrap;
}
.shirt {
  position: relative;
  /*border: .2rem solid #95c3e4;*/
  display: inline-block;
  margin-top: 2rem;
  /*max-width: 33%*/
}
.display {
  line-height: 0;
}
.design {
  /*border-bottom: .2rem solid #95c3e4;*/
  border: 0.2rem solid #95c3e4;
  border-bottom-width: 0;
  padding: 2rem;
  box-sizing: border-box;
}
.blue {
  color: #95c3e4;
}
.pink {
  color: #e577a9;
}
.yellow {
  color: #e1ae75;
}
.fa-undo {
  position: absolute;
  top: 0;
  right: 0;
  color: #95c3e4;
  font-size: 2rem !important;
  border-right: .2rem solid #95c3e4;
  border-top: .2rem solid #95c3e4;
  padding: .7rem;
  transition: background-color 1s, color 1s;
}
/*.fa {
  border: .2rem solid #95c3e4;
  font-size: 2rem !important;
  color: #95c3e4;
  width: 100%
}*/
.fa-undo:hover{
  background-color: #95c3e4;
  color: white;
}
menu {
  margin: 0;
  padding: 0;
}
menu:before{
  margin: 0;
}
menu ul{
  margin: 0;
  padding: 0;
}
menu li{
  display: inline-block;
  width: 20%;
}
.item {
  color: #95c3e4;
  font-size: 1.5rem;
  border: .2rem solid #95c3e4;
  width:20%;
  margin: -1px;
  height: 3rem;
  transition: background-color 1s, color 1s;
}
menu .item:nth-child(4) .fa {
  /*background: red;*/
  border: .2rem solid white;
  padding:-1px 0px;
  /*color: #95c3e4;*/
}
.item:hover{
  background-color: #95c3e4;
  color: white;
}
.info {
  color: #95c3e4;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.price {
  font-weight: bold;
}
