.flex {
  display: flex;
}
.vcenter{
  align-items: center;
}
.hcenter{
  justify-content: center;
}
.space_around{
  justify-content: space-around;
}
.flex_end{
  align-items: flex-end;
}
.shirt {
  position: relative;
  border: .2rem solid #95c3e4;
  display: inline-block;
}
.design {
  /*border-bottom: .2rem solid #95c3e4;*/

}
.fa-undo {
  position: absolute;
  top: 0;
  right: 0;
  color: #95c3e4;
  font-size: 2rem !important;
  border-right: .2rem solid #95c3e4;
  border-bottom: .2rem solid #95c3e4;
  padding: .1rem;
}
/*.fa {
  border: .2rem solid #95c3e4;
  font-size: 2rem !important;
  color: #95c3e4;
  width: 100%
}*/
menu {
  margin: 0;
  padding: 0;
}
menu::before{
  margin: 0;
}
menu ul{
  margin: 0;
  padding: 0;
}
menu li{
  display: inline-block;
  width: 20%;
}
.item {
  color: #95c3e4;
  font-size: 3rem;
  border: .2rem solid #95c3e4;
  width:20%;
  height: 5rem;
}
